*{

	box-sizing: border-box;
}
body {
	background-color: white;
}
.menu-container {
	display: flex;

}
h1 {
	font-family: Helvetica;
	font-size: 175%;
	color: black;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 70px;
}
.box{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	border: 2px solid black;
	width: 5%;
	padding: 10px;
	margin-top: 12px;
	margin-left: 274px;
	margin-right: 0px;
	position: absolute;
}
.content {
	background-color:gray;
	color: black;
	text-align: center;
	padding: 10px;
	width: 85%;
	border: 3px solid black;
	margin-top: 12px;
	margin-right: 40px;
}
#c 
{
    background-color: pink;
	color: black;
	float: left;
}
 #b
 {
	background-color: indianred;
	color: white;
	float: left;
}
#s 
{
	background-color: yellow;
	color: black;
	float: left;
}
@media (min-width: 768px) and (max-width: 991px) {
  .content {
    width: 50%;
  }
  .box {
  	width: 70%;
  	clear: both;
  }
}


